{% extends "./admin/base_site.html" %}
{% block title %}自动化测试平台{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/index/"><strong>首页</strong></a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/upload_case/"><strong>批量测试</strong></a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/test_tools/"><strong>测试工具</strong></a>
    </div>
{% endblock %}
{% block content %}
{% block branding %}
<h1 id="site-name">
  <a href="/index/">自动化测试平台</a>
</h1>
{% endblock %}
<!-- END Header -->
<!-- Content -->
<div class="header-wrapper">
</div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left" width="50"><strong>ID</strong></td>
              <td class="text-left " width="80"><strong>接口名称</strong></td>
              <td class="text-left" width="300"><strong>接口地址</strong></td>
              <td class="text-left" width="100"><strong>POST/GET</strong></td>
              <td class="text-left" width="60"><strong>创建时间</strong></td>
              <td class="text-left" width="50"><strong>状态</strong></td>
            </tr>
          </thead>
            <tbody>
                <tr>
                  <td class="text-left" width="50">{{api.id}}</td>
                  <td class="text-left" width="100">{{api.name}}</td>
                  <td class="text-left" width="300">{{api.address}}</td>
                  <td class="text-left" width="100">{{api.method}}</td>
                  <td class="text-left" width="150">{{api.create_time}}</td>
                  <td class="text-left" width="50">{{api.status}}</td>
                </tr>
          </tbody>
        </table>
      </div>
      <div>
  <form action="/run_test/"method="post" enctype="multipart/form-data" id="form-model">
    <table>
      {% if test_data %}
      {% for key, value in test_data.items %}
        <tr>
          <td class="text-left" width="100">{{key}}</td>
          <td><input name="{{key}}" type="text" value="{{value}}"><br></td>
        </tr>
      {% endfor %}
      {% endif %}

      {% if params %}
      {% for param in params %}
        <tr>
          <td class="text-left" width="100">{{param}}</td>
          <td><input name="{{param}}" type="text" value=""><br></td>
        </tr>
      {% endfor %}
      {% endif %}
      <tr>
        <td class="text-left" width="100" style="border-bottom:0;"></td>
        <td style="border-bottom:0;" align="right"><button type="submit" name="run_button" value="{{api.id}}">Run</button></td>
      </tr>
    </table>
</div>
</div>
{% endblock %}